<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': appareilStatus === 'allumé',
                'list-group-item-danger': appareilStatus === 'éteint'}">
<!-- Mise en commentaire lors du chapitre sur la structure du code avec les services -->
<!--  <div style="width:20px;height:20px;background-color:red;"-->
<!--       *ngIf="appareilStatus === 'éteint'"></div>-->
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
  <a [routerLink]="[id]">Détails</a>
  <button class="btn btn-success"
          (click)="onSwitchOn()"
          [disabled]="appareilStatus === 'allumé'">Allumer</button>
  <button class="btn btn-danger"
          (click)="onSwitchOff()"
          [disabled]="appareilStatus === 'éteint'">Eteindre</button>
<!-- Mise en commentaire lors du chapitre sur la structure du code avec les services -->
<!--  <input type="text" class="form-control" [(ngModel)]="appareilName">-->
</li>
