<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <!--le code ci dessous fut utiliser avant la creation du tableau pour les les directives structureles
        <app-appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></app-appareil>
        <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'allumé'"></app-appareil>
        <app-appareil [appareilName]="appareilThree" [appareilStatus]="'éteint'"></app-appareil>-->
        <!--l'astérisque devant ces directives, qui signifie à Angular de les traiter comme directives structurelles ! -->
        <app-appareil  *ngFor="let appareil of appareils"
                       [appareilName]="appareil.name"
                       [appareilStatus]="appareil.status"></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onAllumer()">Tout allumer</button>
    </div>
  </div>
</div>
