<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
      <li routerLinkActive="active"><a routerLink="edit">Nouvel appareil</a></li>
      <li routerLinkActive="active"><a routerLink="users">Utilisateurs</a></li>
    </ul>
    <div class="navbar-right">
      <p>Vous etes connecté depuis {{ secondes }} seconde(s) !</p>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
<!--    ci dessous avant la creatiopn des routes dans app.module-->
<!--    <app-appareil-view></app-appareil-view>-->
<!--    le code ci desuos fut ecrit avant chap sur le routing -->
<!--    <div class="col-xs-12">-->
<!--      <h2>Mes appareils</h2>-->
<!--      &lt;!&ndash; Chapitre sur les pipi important: l'ordre des Pipe !!! la donnée async fait reference a la fonction Promise()-->
<!--      du component&ndash;&gt;-->
<!--      <p>Mis à jour : {{ lastUpdate | async | date: 'EEEE d MMMM y' | uppercase }}</p>-->
<!--      <ul class="list-group">-->
<!--        &lt;!&ndash;le code ci dessous fut utiliser avant la creation du tableau pour les les directives structureles-->
<!--        <app-appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></app-appareil>-->
<!--        <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'allumé'"></app-appareil>-->
<!--        <app-appareil [appareilName]="appareilThree" [appareilStatus]="'éteint'"></app-appareil>&ndash;&gt;-->
<!--        &lt;!&ndash;l'astérisque devant ces directives, qui signifie à Angular de les traiter comme directives structurelles ! &ndash;&gt;-->
<!--        <app-appareil  *ngFor="let appareil of appareils; let i = index"-->
<!--                       [indexOfAppareil]="i"-->
<!--                       [appareilName]="appareil.name"-->
<!--                       [appareilStatus]="appareil.status"></app-appareil>-->
<!--      </ul>-->
<!--      <button class="btn btn-success"-->
<!--              [disabled]="!isAuth"-->
<!--              (click)="onAllumer()">Tout allumer</button>-->
<!--      <button class="btn btn-danger"-->
<!--              [disabled]="!isAuth"-->
<!--              (click)="onEteindre()">Tout étteindre</button>-->
<!--    </div>-->
  </div>
</div>
